.layout-content {
 input {
    padding: 2rem;
    border: black solid 1px;
    border-radius: 100px;
    font-size: 2rem;
    @include backgroundimg;
    color: white;
    text-decoration: none;
  }
}
