h1 {
  font-size: 3rem;
}

body {
  background-color: #E2E1E1;
}

main {
  padding-bottom: 5rem;
}

img {
  width: 100%;
}


.popup.active {
  .popup-content {
    h2 {
      font-size: 10rem;
    }
    p {
      font-size: 5rem;
    }
    left: 50%;
    transform: translate(-50%,50%);
    border: black solid;
    width: fit-content;
    padding: 10rem;
    top: 23% !important;
    background: antiquewhite;
    text-align: center;
    border-radius: 20px;
    position: absolute;
  }
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(#000, .3);
}
