footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("../images/background-header-footer.jpg");
  color: white;
  text-align: center;
  height: 5rem;
  .menu {
    padding: 1.5rem 0 0 2rem;
    a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
    }
  }
}
