header {
  @include bg-gradient(to right, $header-bg-colour);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  .region-header {
    text-align: center;
    font-size: 50px;
    padding-top: 15px;
  }
}
