@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
//Page title
.page-title {
  @include TextCenter;
  font-family: 'Train One', cursive;
  font-size: 5rem;
  margin-bottom: 5rem;
  margin-top: 0;
}

.time, .date {
  @include TextCenter;
  font-family: 'Cormorant Unicase', serif;

}
.date {
  font-size: 5em;
}
.time {
  font-family: 'Cinzel', serif;
  font-size: 15em;
}

.block-block-contentdd58a9da-6ce9-4d55-8e15-19d85c11bf5f {
  margin: 5% 35%;
  width: 30%;

  img {
    border-radius: 10px;
    height: auto;
    box-shadow: 0 10px 20px rgba(0, 10, 0, 0.2);
  }
}

.block-block-content07e0605f-5dca-4d8e-a17d-e2ba8513121c {
  margin: 5% 37.5%;
  width: 25%;
  img {
    height: auto;
  }
}

.block-block-contenta1e0ec9e-11f3-4d1f-91cf-fa26c6f37596 {
  text-align: center;
  margin: 0 20% 0 30%;
  a {
    @include buttonstyle;
    &.create {
      margin-right: 20rem;
    }
  }
}

.block-selection-block {
  @include TextCenter;
  font-size: 2rem;
}
