.region-primary-menu {
  padding: 1.5rem 0 1.5rem 0;
  .menu {
    display: flex;
    margin: 0 35% 0 35%;
    justify-content: space-evenly;
    a, span {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
      transition: all 0.5s ease;
      cursor: pointer;
      &.is-active,
      &:hover {
        transform: scale(1.25);
        color: turquoise !important;
      }
    }
  }
}


.site-name {
  a {
    text-decoration: none;
    color: white;
    font-family: roboto;
  }
}
