.view-content {
  text-align: center;
  .notes-list {
    padding-bottom: 5rem;
    &__title {
      font-size: 3rem;
      a {
        text-decoration: none;
        color: #1d1135;
      }
    }
    &__body {
      width: 50%;
      margin: 0 25%;
    }
  }
}
