@mixin TextCenter {
  text-align: center;
}

@mixin CenterMe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
}

@mixin backgroundimg {
  background-image: url("../images/front-page-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@mixin buttonstyle {
  padding: 2rem;
  border: black solid 1px;
  border-radius: 100px;
  font-size: 2rem;
  @include backgroundimg;
  color: white;
  text-decoration: none;
}

@mixin bg-gradient ($direction, $list) {
  background: linear-gradient($direction,$list);
}
