@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  min-height: 100vh; }

body {
  position: relative; }

body {
  font-family: roboto; }

.layout-content input {
  padding: 2rem;
  border: black solid 1px;
  border-radius: 100px;
  font-size: 2rem;
  background-image: url("../images/front-page-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  text-decoration: none; }

h1 {
  font-size: 3rem; }

body {
  background-color: #E2E1E1; }

main {
  padding-bottom: 5rem; }

img {
  width: 100%; }

.popup.active {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3); }
  .popup.active .popup-content {
    left: 50%;
    transform: translate(-50%, 50%);
    border: black solid;
    width: fit-content;
    padding: 10rem;
    top: 23% !important;
    background: antiquewhite;
    text-align: center;
    border-radius: 20px;
    position: absolute; }
    .popup.active .popup-content h2 {
      font-size: 10rem; }
    .popup.active .popup-content p {
      font-size: 5rem; }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("../images/background-header-footer.jpg");
  color: white;
  text-align: center;
  height: 5rem; }
  footer .menu {
    padding: 1.5rem 0 0 2rem; }
    footer .menu a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem; }

header {
  background: linear-gradient(to right, #1d1135, #7649fe, #0c164f);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); }
  header .region-header {
    text-align: center;
    font-size: 50px;
    padding-top: 15px; }

.page-title {
  text-align: center;
  font-family: 'Train One', cursive;
  font-size: 5rem;
  margin-bottom: 5rem;
  margin-top: 0; }

.time, .date {
  text-align: center;
  font-family: 'Cormorant Unicase', serif; }

.date {
  font-size: 5em; }

.time {
  font-family: 'Cinzel', serif;
  font-size: 15em; }

.block-block-contentdd58a9da-6ce9-4d55-8e15-19d85c11bf5f {
  margin: 5% 35%;
  width: 30%; }
  .block-block-contentdd58a9da-6ce9-4d55-8e15-19d85c11bf5f img {
    border-radius: 10px;
    height: auto;
    box-shadow: 0 10px 20px rgba(0, 10, 0, 0.2); }

.block-block-content07e0605f-5dca-4d8e-a17d-e2ba8513121c {
  margin: 5% 37.5%;
  width: 25%; }
  .block-block-content07e0605f-5dca-4d8e-a17d-e2ba8513121c img {
    height: auto; }

.block-block-contenta1e0ec9e-11f3-4d1f-91cf-fa26c6f37596 {
  text-align: center;
  margin: 0 20% 0 30%; }
  .block-block-contenta1e0ec9e-11f3-4d1f-91cf-fa26c6f37596 a {
    padding: 2rem;
    border: black solid 1px;
    border-radius: 100px;
    font-size: 2rem;
    background-image: url("../images/front-page-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    text-decoration: none; }
    .block-block-contenta1e0ec9e-11f3-4d1f-91cf-fa26c6f37596 a.create {
      margin-right: 20rem; }

.block-selection-block {
  text-align: center;
  font-size: 2rem; }

.region-primary-menu {
  padding: 1.5rem 0 1.5rem 0; }
  .region-primary-menu .menu {
    display: flex;
    margin: 0 35% 0 35%;
    justify-content: space-evenly; }
    .region-primary-menu .menu a, .region-primary-menu .menu span {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
      transition: all 0.5s ease;
      cursor: pointer; }
      .region-primary-menu .menu a.is-active, .region-primary-menu .menu a:hover, .region-primary-menu .menu span.is-active, .region-primary-menu .menu span:hover {
        transform: scale(1.25);
        color: turquoise !important; }

.site-name a {
  text-decoration: none;
  color: white;
  font-family: roboto; }

.view-content {
  text-align: center; }
  .view-content .notes-list {
    padding-bottom: 5rem; }
    .view-content .notes-list__title {
      font-size: 3rem; }
      .view-content .notes-list__title a {
        text-decoration: none;
        color: #1d1135; }
    .view-content .notes-list__body {
      width: 50%;
      margin: 0 25%; }

.path-frontpage {
  background-image: url("../images/front-page-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .path-frontpage header {
    background: none;
    border: none; }
  .path-frontpage .clearfix.text-formatted.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item {
    font-size: 14rem;
    /*  text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 60%;
    color: white; }
    .path-frontpage .clearfix.text-formatted.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item p {
      text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5; }
